*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container,
.ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  border: solid 1px #dadce0;
  background-color: #fff;
}

.container,
.ql-snow {
  display: flex;

}

.ql-toolbar,
.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border: none;
}

.ql-toolbar.ql-snow {
  border: 0px;
  border-radius: 20px;
  width: 92.5vw;
  background-color: #edf2fa;
  height: fit-content;
  margin: 6px 0px 8px 20px;
  padding-right: 6.5rem;

}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .container,
  .ql-editor {
    width: 6.5px;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container,
  .ql-toolbar,
  .ql-snow {
    display: none;
  }
}

.options {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 2px 7px;
  color: #202124;
  letter-spacing: .2px;
  height: fit-content;
  padding-top: 0.2rem;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.options:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container {
  cursor: pointer;
  width: 46px;
}

.icon {
  margin-left: .5rem;
  width: 35px;
  height: 35px;
}

.flex {
  display: flex;
}

.header {
  align-items: center;
  padding: 0.75rem;
  padding-bottom: 0.25rem;
}

.docs-title {
  letter-spacing: .1px;
  margin: 0;
  font-weight: 400;
  color: #444746;
  font-size: 18px;
  padding-left: 7px;
  font-style: normal;
  width: 156px;
  height: 22px;
}

.options-container {
  height: 25px;
}

.star {
  width: 18px;
  height: 18px;
  margin-left: 1rem;
  color: #444746;
}

.button {
  display: inline-flex;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 7rem;
  background-color: #c2e7ff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 9px 24px;
  white-space: nowrap;
  color: #001d35;
  outline: none;
  cursor: pointer;
  letter-spacing: .25px;
  text-transform: capitalize;
  vertical-align: middle;
  margin: 0 3.5rem 0 2rem;
  box-shadow: none;
  /* Initially, no shadow */
  transition: box-shadow 0.3s ease;
  /* Transition effect for smooth animation */
}

.button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  /* Add shadow effect on hover */
}

.icon {
  margin-right: 0.5rem;
}

.user-icon,
.chat-icon,
.meet-icon,
.lock-icon {
  cursor: pointer;
  /* margin-left: 1rem; */
}

.user-icon {
  height: 2.2rem;
  width: 2.2rem;
}

.lock-icon {
  margin: 0 8px 1px -8px;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.meet-icon,
.chat-icon {
  height: 24px;
  width: 24px;
}

.right-corner-bar {
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.chat-icon-container,
.meet-icon-container {
  border-radius: 100px;
  white-space: nowrap;
  text-align: right;
  padding: 0.5rem 0.7rem;
  font-weight: 500;
  justify-content: center;
  margin-left: 1rem;
}

.side-bar {
  position: fixed;
  flex-direction: column;
  width: fit-content;
  gap: 2rem;
}

.side-icon {
  cursor: pointer;
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
  width: 90vw;
  overflow-y: scroll;
  scrollbar-width: 3rem;
  /* Set the width of the scrollbar */
  scrollbar-color: #555555 #ffffff;
  z-index: 0;
  height: 83vh;
}


.meet-icon-container:hover,
.chat-icon-container:hover {
  background-color: #E5E4E2;
}
.button-icon{
  display: none;
}
@media screen and (max-width: 600px) {    /* For mobile phones: */
  .container,
  .ql-editor {
    width: 84vw;
    height: 100vh;
    padding: 0;
    margin: 10px 0px 0px 18px;
    box-shadow: none;
    align-self: flex-start;
  }

  .container,
  .ql-toolbar,
  .ql-snow 
 {
    height: 100vh;
  }
  .side-bar, .options-container, .lock-icon, .star, .text-share {
    display: none;
  }
  .meet-icon, .chat-icon, .share-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .meet-icon-container, .chat-icon-container{
    margin: 0;
  }

  .button {
    margin: 0px;
    width: 1rem;
    color: transparent;
    padding: 0px;
    width: 2.5rem;
    height: 2.5rem;
  }
  .button-icon{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100px;
    display: inline-block;
  }
  .docs-title {
    font-size: 15px;
  }
  .icon-container {
    width: 30px;
  }
  .icon{
    width: 2rem;
    height: 2rem;
    margin: 0px;
  }
  .right-corner-bar {
    top: 0.5rem;
    right: 0.5rem;
  }
  .ql-toolbar.ql-snow{
    height: 7rem;
    overflow-x: scroll;
    width: 90vw;
    border-radius: 0px;
    margin: 6px 18px;
  }
}
@media (min-width: 601px) and (max-width: 850px) {  /* For tablets: */
  .side-bar{
    gap: 1.5rem;
  }
  .ql-toolbar.ql-snow{
    width: 88vw;
    padding: 0.5rem;
  }
  .chat-icon-container, .meet-icon-container{
    padding: 0.5rem 0.5rem;
    margin: 0;
  }
  .button{
    margin-left:1rem;
  }
}
